@model List<Categoria>
<div class="titulo text-center">
    <h2>Todas las Categorías</h2>
</div>
<div class="lista">
    @if(@Model != null){
        <ul>
            @foreach(Categoria cat in @Model){
                <li><a asp-controller="Categoria" asp-action="DetalleCategoria" asp-route-CategoriaId="@cat.CategoriaId">@cat.Nombre</a></li>
            }
        </ul>  
    }            
</div>