@model List<Producto>
<div class="titulo text-center">
    <h2>Todos los Productos</h2>
</div>
<div class="lista">
    @if(@Model != null){
        <ul>
            @foreach(Producto prod in @Model){
                <li><a asp-controller="Producto" asp-action="DetalleProducto" asp-route-ProductoId="@prod.ProductoId">@prod.Nombre</a></li>
            }
        </ul>  
    }            
</div>